<%= form_with(model: @new_film) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, {required: true} %>
    <%= f.label :seen %>
    <%= f.date_field :seen, {required: true} %>
    <%= f.submit("Add film") %>
<% end %>


<% if @films.any? %>
    <ul>
        <% @films.each do |film| %>
            <li>
            <%= render 'film', film: film %>
        <% end %>
    </ul>
<% else %>
    <p>No films to show</p>
<% end %>